$pcolor: #565c5c;
$hcolor: #282b2b;
$lcolor: #176363;

* {
  font-family: Monaco, monospace;
  color: $pcolor;
}
  
body {
  font-size: 0.8em;
}

h1 {
  color: $hcolor;
  font-size: 1.3em;
  padding: 2em;
}

hr {
  border-top: 1px solid $pcolor;
  margin: 1em;
}

a:link {
  color: $hcolor;
  text-decoration: none;
}

a:hover {
  color: $lcolor;
}

header {
  text-align: center;
}
#menu {
  font-size: 0.9em;
}

footer {
  width: 100%;
}
#links {
  width: 30%;
  float: left;
}
#ocf {
  width: 30%;
  text-align: right;
  font-size: 0.5em;
  float: right;
}
