$pcolor: #565c5c;
$hcolor: #282b2b;

* {
  font-family: Monaco, monospace;
  color: $pcolor;
}
  
body {
  font-size: 1em;
}

h1 {
  color: $hcolor;
  font-size: 2em;
}

a:link {
  color: $pcolor;
  text-decoration: none;
}

a:hover {
  color: $hcolor;
}

.headfoot {
  text-align: center;
}

#menu {
  font-size: 1.3em;
}

#ocf {
  font-size: 0.8em;
  column-count: 2;
}
#ocf.logo {
  width: 10%;
}
