{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    {% set permalink = section.permalink 
    | default(value=page.permalink 
    | default(value="")) %}
    
    {% set title = section.title 
    | default(value=page.title
    | default(value="Berkeley Math Tournament")) %}
    
    <title>{{ title }}</title>
    <meta name="og:title" content="{{ title }}" />
    
    {% set description = section.description
    | default(value=section.summary
    | default(value=page.description
    | default(value=page.summary
    | default(value=""))))
    | striptags
    | split(pat="\n")
    | join(sep=" ") %}

    <script>
      function thing() {
        document.getElementById("menu").classList.toggle("open");
      }
    </script>
    <link rel="stylesheet" href="{{ get_url(path='base.css') | safe}}">
  </head>
  <body>
    {% block header %}
    <header>
      <h1>Berkeley Math Tournament</h1>
  
      <nav id="menu">
        {{ macros::nav_link(path="@/_index.md", label="Home") }} / 
        {{ macros::nav_link(path="@/about.md", label="About") }} / 
        {{ macros::nav_link(path="@/problems/_index.md", label="Problems and Tests") }} / 
        {{ macros::nav_link(path="@/archives/_index.md", label="Archives") }}          
      </nav>
    </header>
    {% endblock %}
  
    <hr>
    
    {% block content %}{% endblock %}
  
    <hr>
  
    {% block footer %}
    <footer>
      <div id="links">
        <a href="https://discord.gg/SKQ4VDYV">BMT Discord</a> <br> 
        <a href="https://www.tiktok.com/@berkeley_mt">BMT Website</a> <br> 
        <a href="https://gitlab.com/BerkeleyMathTournament/bmt-2024">PW Github Repo</a>
      </div>
      <div id="ocf">
        <a href="https://ocf.berkeley.edu" float="right">
          <img src="https://ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg" width="80" alt="Hosted by the OCF" />
        </a>
        We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
